# Environment variables
.env

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# macOS
.DS_Store

# Ignore the script that updates tutorial since it's not part of the project
update_tutorial.py
update_tutorial_uri.py
